* {
  font-family: "Raleway", sans-serif;
}

.brand-title {
  font-size: 30px;
  font-weight: bolder;
}
.copyright {
  margin-top: 25px;
}

.image-hero {
  width: 90%;
  height: 90%;
}

.feature-image {
  width: 100%;
  height: 100%;
}
