* {
  font-family: "Raleway", sans-serif;
}

/* index.html */
.image-hero {
  width: 90%;
  height: 90%;
}

.feature-image {
  width: 100%;
  height: 100%;
}

/* sign-up.html */
.form {
  max-width: 330px;
}

.form-group {
  margin: 20px;
}

/* footer of every page */
.brand-title {
  font-weight: bolder;
}
.copyright {
  margin-top: 25px;
}
